@{
    ViewData["Title"] = "Información Asignatura";    
}
@*<h1>Asignatura</h1>
<h3>Nombre: @Model.Nombre</h3>
<p>Cantidad de alumnos a la fecha: @ViewBag.CantidadAlumnos</p>*@

<h3>Asignatura</h3>

<hr/>

<partial name="ObjetoEscuelaSimple"></partial>


